zone "{{ zone_name }}" IN {
  type master;
  file "/etc/bind/{{ zone_name }}dns";
  allow-transfer {
    {% for sourceip in name_servers_secondary %}
    {{ sourceip.ipaddr }} ;
    {% endfor %}
  };
};