options {
        directory "/var/cache/bind";

        // If there is a firewall between you and nameservers you want
        // to talk to, you may need to fix the firewall to allow multiple
        // ports to talk.  See http://www.kb.cert.org/vuls/id/800113

        // If your ISP provided one or more IP addresses for stable
        // nameservers, you probably want to use them as forwarders.
        // Uncomment the following block, and insert the addresses replacing
        // the all-0's placeholder.

        forwarders {
            {% for forwarder in forwarders %}
                {{ forwarder.ipaddr }};
            {% endfor %}
         };

        //========================================================================
        // If BIND logs error messages about the root key being expired,
        // you will need to update your keys.  See https://www.isc.org/bind-keys
        //========================================================================
        dnssec-validation {{ dnssec }};
        listen-on port 53 {127.0.0.1; any;  };
        listen-on-v6 { any; };
        allow-query { 
          localhost; 
          {% for sourceip in allow_query_from %}
          {{ sourceip.ipaddr }} ;
          {% endfor %}
        };
        
        recursion {{ recursion }};
};
