$TTL    {{ default_ttl }}
@       IN      SOA     {{ zone_name }} root.{{ zone_name }} (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@        IN      NS      {{ name_server_primary }}
{{ name_server_primary }}    IN      A       {{ name_server_primary_ipaddr }}

{% for server in servers %}
{{ server.hostname }}    IN      A       {{ server.ipaddr }}
{% endfor %}
{% for server in mxservers %}
    IN      MX       {{ server.priority }} {{ server.hostname }}
{% endfor %}
